:root{
    --main-color: black;
    --accent-color: rgb(54,119,255); /* #3677FF */
    --accent-color2: rgb(255,96,0); /* #FF6000 */
    --gradient: linear-gradient(90deg, darkblue,darkorchid);
    --background-color: white;
}